.orden {
    display: flex;
    width: 90%;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100vh;
    justify-content: center
}
.product {
    display: flex;
    flex-direction: column;
    border: 1px solid #e878a2;
    flex: 1;
    padding: 20px;
} 


.formcontainer {
    flex: 1;
    margin-left: 20px;
    border: 1px solid #e878a2;
    padding: 20px;
  }
  
  .formtitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    
  }
  
  .formlabel {
    display: block;
    margin-bottom: 5px;
  }
  
  .forminput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .formbutton {
    background-color: #332486;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formbutton:hover {
    background-color: #458ea0;
  }
  



  @media (max-width: 767px) {
    .orden {
      flex-direction: column;
    }
    .formcontainer {
      margin-left: 0;
    }
  }